@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

:root {
  --Dark_Blue: hsl(209, 23%, 22%);
  --Very_Dark_Blue: hsl(207, 26%, 17%);
  --Very_Dark_Blue_Light_Mode_Text: hsl(200, 15%, 8%);
  --Dark_Gray_Light_Mode_Input: hsl(0, 0%, 52%);
  --Very_Light_Gray_Light_Mode_Background: hsl(0, 0%, 98%);
  --White_Dark_Mode_Text_nd_Light_Mode_Elements: hsl(0, 0%, 100%);
}

a {
  text-decoration: none;
}

.navbar {
  box-shadow: 1px 3px 6px #0000004d;
  transition: all 0.5s ease-out;
  transform: translateY(0);
  top: 0%;
  position: fixed;
  width: 100%;
  z-index: 5;
}
.hide {
  top: -100%;
}

.nav_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  width: 90%;
  margin: auto;
}
.nav_content .theme:hover {
  cursor: pointer;
}

.bi-moon,
.bi-brightness-high-fill {
  padding-right: 8px;
}

.dark_mode {
  background-color: var(--Very_Dark_Blue);
  color: var(--White_Dark_Mode_Text_nd_Light_Mode_Elements);
  transition: all 0.5s ease-in-out;
}

.light_mode {
  background-color: var(--Very_Light_Gray_Light_Mode_Background);
  color: var(--Very_Dark_Blue_Light_Mode_Text);
  transition: all 0.5s ease-in-out;
}

.country_wrap {
  margin-top: 30px;
  padding-top: 70px;
}

.search_container {
  position: relative;
  border-radius: 4px;
  width: 90%;
}

.search_container .bi {
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translate(-5%, -50%);
  color: var(--Very_Dark_Blue_Light_Mode_Text);
}

.search_container input {
  width: 400px;
  outline: none;
  max-width: 100%;
  padding: 6px 12px 6px 45px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 1.1rem;
  box-shadow: 1px 3px 6px #0000004d;
}

.country_wrap .head_wrap {
  display: flex;
  max-width: 90%;
  margin: auto;
  justify-content: space-between;
}

.head_wrap select {
  width: 150px;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px;
  font-size: 1.01rem;
  box-shadow: 1px 3px 6px #0000004d;
  outline: none;
}

.countries a {
  text-decoration: none;
}
.countries a:hover {
  transform: scale(1.05);
}

.countries {
  padding-top: 40px;
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 250px);
  row-gap: 50px;
  justify-content: space-between;
  grid-auto-rows: 290px;
}

.countries .country img {
  width: 100%;
  height: 150px;
}

.countries .country {
  box-shadow: 1px 2px 5px #0003;
  border-radius: 10px;
  overflow: hidden;
  user-select: none;
}

.countries .country_info {
  padding: 15px;
}

.country_details {
  min-height: 100vh;
  margin-top: 40px;
  padding-top: 100px;
  width: 90%;
  margin: auto;
}

.country_details .btn {
  padding: 2px 15px;
  border: none;
  border-radius: 6px;
  box-shadow: 1px 3px 6px #0000004d, -1px -3px 6px #0000004d;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
}

.btn .bi {
  font-size: 24px;
}

.country_flag_details {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 0.7fr);
  justify-content: space-between;
  align-items: center;
}

.country_flag img {
  height: 300px;
  max-width: 300px;
  object-fit: fill;
}
.country_info .top_section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.country_info .extra_info {
  display: flex;
  justify-content: space-between;
}
.bottom_info {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.border_countries {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.border_countries p {
  padding: 0 16px;
  box-shadow: 1px 1px 6px #0006;
  border: 1px solid #ccc;
}

@media (max-width: 1200px) {
  .countries {
    grid-template-columns: repeat(4, 220px);
  }
}

@media (max-width: 1050px) {
  .countries {
    grid-template-columns: repeat(3, 220px);
  }
}

@media (max-width: 780px) {
  .countries {
    grid-template-columns: repeat(2, 0.5fr);
    justify-content: center;
    gap: 30px;
  }
}

@media (max-width: 715px) {
  .country_flag_details {
    grid-template-columns: repeat(1, 0.6fr);
  }
  .extra_info {
    flex-direction: column;
    gap: 15px;
  }
}

@media (max-width: 642px) {
  .country_wrap .head_wrap {
    flex-direction: column;
    gap: 30px;
    text-align: center;
  }
  .search_container {
    margin: auto;
  }
  .search_container .bi {
    left: 9%;
  }
}

@media (max-width: 501px) {
  .countries {
    grid-template-columns: repeat(1, 0.7fr);
  }
}
